*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

.roboto-normal> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*common styles*/
.para-description{
color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0%;
}

/*Banner Section Style*/
.banner{
  width: 80%;
  background-image:linear-gradient(180deg, rgb(7, 2, 17),rgba(7, 2, 17, 0)), url(images/Banner\ Image.png);
  height: 78vh;
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:end;
  margin-top: 30px;
  margin-bottom: 80px;
}

.greetings{
width: 508px;
height: 480px;
}

.greetings h3{
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 25px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 20px;
}

.greetings h1{
  color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 57px;
font-weight: 900;
line-height: 73px;
letter-spacing: 0%;
text-align: center;
}


/*New year offer section*/
.new-year{
width: 40%;
margin: auto;
margin-bottom: 50px;
}

.new-year-text{
  margin-bottom: 30px;
}
.new-year h1{
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 70px;
font-weight: 700;
line-height: 85px;
letter-spacing: 0%;
text-align: center;
padding: 30px;
}

.new-year  h4{
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 19px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
padding: 20px;
}

.new-year h2{
  color: rgb(7, 2, 17);
font-family: Inter;
font-size: 38px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0%;
text-align: center;
}

.new-year .new-year-image{
  width: 630px;
  height: 400px;
  background-image: url(images/New\ Year\ Photo.png);
  background-size: contain;
  margin: auto;
  background-repeat: no-repeat;
}

/*Welcome section*/
.welcome{
  width: 80%;
  background-color: aqua;
  height: 60vh;
  margin: auto;
  margin-bottom: 90px;
  border-radius: 16px;
 background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) ), url(images/Vectorrr.png);
 background-repeat:no-repeat;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}

.welcome-text{
  width: 50%;
  margin-left: 150px;

}
.welcome-text h2{
  color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 51px;
font-weight: 900;
line-height: 70px;
letter-spacing: 11%;
text-align: left;
padding: 10px;
}

.welcome-text p{
  color: white;
  padding: 10px;
}
.welcome-text h3{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 10px;
}

.welcome-image{
  width: 350px;
  margin: auto;
  height: 350px;
  background-image: url(images/Group\ 70.png);
  background-repeat: no-repeat;
  background-size: contain;
 
}


/*Join Now section*/
.join-now{
  width: 80%;
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-inline: .2px rgb(234, 232, 232) solid;
  margin-bottom: 100px;
}

.join-now h2{
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
}

.join-now span{
  color: red;
}

.join-now button{
border-radius: 8px;
background: rgb(255, 0, 0);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
padding: 12px 25px 12px 25px;
border: none;
}

/*Coming soon section*/
.coming-soon{
  width: 80%;
  display: flex;
  height: 436px;
  margin: auto;
}

.coming-soon .box{
  width: 33.3%;
}

.new-best-offer{
  width: 350px;
  margin: auto;
 
}
 
.new-best-offer h4{
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.new-best-offer h3{
  color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 38px;
font-weight: 900;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
margin-bottom: 10px;
}
.new-best-offer p{
padding: 10px 30px 0 0;
}

.coming-soon-image{
  margin: 0 auto;
}

.holder{
  margin: auto;
  height: 438px;
  width: 438px;
  border: 15px solid rgb(255, 0, 0);
  padding: 15px;
  border-radius: 50%;
}
.holder img{
  margin: 10px;
}

.year{
  margin: auto;
  width: 80px;
  margin-left: 100px;
}

.year h3{
  color: rgb(255, 0, 0);
font-family: Inter;
font-size: 38px;
font-weight: 700;
line-height: 46px;
letter-spacing: 0%;
text-align: left;
margin-block: 20px;
}

.year img{
  width: 112px;
  margin-block:30px;
}

.year p{
  margin-right: 200px;
}


/*Holidays Sale*/
.holiday-sale{
  width: 50%;
  height: 300px;
  margin: auto;
  padding: 80px 100px 100px 100px;
}

.holiday-sale h5{
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-block:20px ;
}

.holiday-sale h1{
  font-family: Merriweather;
  font-size: 57px;
  font-weight: 900;
  line-height: 72px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 30px;
}
.holiday-sale h1 span{
  color: rgb(255, 0, 0);
}

.holiday-sale p{
  text-align: center;
}







.discount{
  width: 80%;
  background-image: url(images/Rectangle\ 2.png);
  height: 400px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: auto;
  background-color: aqua;
 background-size: contain;
 margin-block: 50px;
}
